flows.json
[{"id":"2fddc7f1.c4a658","type":"tab","label":"Data Generator","disabled":false,"info":""},{"id":"b560cf5e.9e946","type":"inject","z":"2fddc7f1.c4a658","name":"","props":[{"p":"timestamp","v":"","vt":"date"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":140,"y":200,"wires":[["5e60f26d.e0929c"]]},{"id":"8495b948.229388","type":"mqtt in","z":"2fddc7f1.c4a658","name":"","topic":"ack/53804F65FD76455B808CBDAB5AC0A490","qos":"2","datatype":"auto","broker":"9f5f9486.ddf8e8","x":1060,"y":320,"wires":[["9766874d.906c88"]]},{"id":"9766874d.906c88","type":"debug","z":"2fddc7f1.c4a658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1330,"y":320,"wires":[]},{"id":"c389efa1.3226f","type":"template","z":"2fddc7f1.c4a658","name":"Build Message for IoT Service","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n\"capabilityAlternateId\": \"NTT_DM_Indicators_ALL\",\n\"sensorAlternateId\": \"NTT_DM_IMM\",\n\"timestamp\":\"{{timestamp}}\",\n\"measures\": \n  [\n   {\n    \"NTT_DM_operatingHours\": \"{{payload.NTT_DM_operatingHours}}\" ,\n    \"NTT_DM_operatingHours_Motor\": \"{{payload.NTT_DM_operatingHours}}\"\n   }\n  ]\n}\n","output":"str","x":710,"y":200,"wires":[["20540b7b.29dde4","553a2404.55932c"]]},{"id":"553a2404.55932c","type":"mqtt out","z":"2fddc7f1.c4a658","name":"","topic":"measures/53804F65FD76455B808CBDAB5AC0A490","qos":"","retain":"","broker":"9f5f9486.ddf8e8","x":1080,"y":240,"wires":[]},{"id":"f67a711c.1c32f","type":"debug","z":"2fddc7f1.c4a658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":200,"wires":[]},{"id":"20540b7b.29dde4","type":"json","z":"2fddc7f1.c4a658","name":"","property":"payload","action":"","pretty":false,"x":930,"y":200,"wires":[["f67a711c.1c32f"]]},{"id":"fdb62c5f.169ff","type":"random","z":"2fddc7f1.c4a658","name":"Tcyc","low":"29","high":"31","inte":"false","property":"payload.NTT_DM_cycleTime","x":410,"y":160,"wires":[["a55310d8.4cc3"]]},{"id":"5e60f26d.e0929c","type":"counter","z":"2fddc7f1.c4a658","inc":"0.25","name":"","x":280,"y":200,"wires":[["32ebde4e.954bc2"]]},{"id":"32ebde4e.954bc2","type":"change","z":"2fddc7f1.c4a658","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.NTT_DM_operatingHours","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":200,"wires":[["c389efa1.3226f"]]},{"id":"c43aa5f1.c86be8","type":"inject","z":"2fddc7f1.c4a658","name":"reset","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":130,"y":260,"wires":[["e38d8f94.2cdbe"]]},{"id":"e38d8f94.2cdbe","type":"function","z":"2fddc7f1.c4a658","name":"msg object","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":260,"wires":[["5e60f26d.e0929c"]]},{"id":"a55310d8.4cc3","type":"template","z":"2fddc7f1.c4a658","name":"Build Message for IoT Service","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n\"capabilityAlternateId\": \"NTT_DM_Indicators_ALL\",\n\"sensorAlternateId\": \"NTT_DM_IMM\",\n\"timestamp\":\"{{timestamp}}\",\n\"measures\": \n  [\n   {\n    \"NTT_DM_cycleTime\": \"{{payload.NTT_DM_cycleTime}}\" \n   }\n  ]\n}\n","output":"str","x":710,"y":160,"wires":[["553a2404.55932c","db45101b.271dd"]]},{"id":"e66d74e4.601b38","type":"inject","z":"2fddc7f1.c4a658","name":"","props":[{"p":"timestamp","v":"","vt":"date"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":140,"y":160,"wires":[["fdb62c5f.169ff"]]},{"id":"20ce7e9a.42ed92","type":"debug","z":"2fddc7f1.c4a658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":160,"wires":[]},{"id":"db45101b.271dd","type":"json","z":"2fddc7f1.c4a658","name":"","property":"payload","action":"","pretty":false,"x":930,"y":160,"wires":[["20ce7e9a.42ed92"]]},{"id":"2cd98280.a372de","type":"random","z":"2fddc7f1.c4a658","name":"temp","low":"182","high":"202","inte":"false","property":"payload.NTT_DM_temperature","x":290,"y":120,"wires":[["6c060467.3075ec"]]},{"id":"6c060467.3075ec","type":"random","z":"2fddc7f1.c4a658","name":"power","low":"4.050","high":"4.150","inte":"false","property":"payload.NTT_DM_powerConsumption","x":410,"y":120,"wires":[["9ae56f50.6776b"]]},{"id":"6427a64a.8bd898","type":"inject","z":"2fddc7f1.c4a658","name":"","props":[{"p":"timestamp","v":"","vt":"date"},{"p":"topic","vt":"str"}],"repeat":"70","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":140,"y":120,"wires":[["2cd98280.a372de"]]},{"id":"9ae56f50.6776b","type":"template","z":"2fddc7f1.c4a658","name":"Build Message for IoT Service","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n\"capabilityAlternateId\": \"NTT_DM_Indicators_ALL\",\n\"sensorAlternateId\": \"NTT_DM_IMM\",\n\"timestamp\":\"{{timestamp}}\",\n\"measures\": \n  [\n   {\n    \"NTT_DM_temperature\": \"{{payload.NTT_DM_temperature}}\" ,\n    \"NTT_DM_powerConsumption\": \"{{payload.NTT_DM_powerConsumption}}\"\n   }\n  ]\n}\n","output":"str","x":710,"y":120,"wires":[["97f8125b.f3588","553a2404.55932c"]]},{"id":"20d88854.24cbe8","type":"debug","z":"2fddc7f1.c4a658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":120,"wires":[]},{"id":"97f8125b.f3588","type":"json","z":"2fddc7f1.c4a658","name":"","property":"payload","action":"","pretty":false,"x":930,"y":120,"wires":[["20d88854.24cbe8"]]},{"id":"9f5f9486.ddf8e8","type":"mqtt-broker","name":"IoT  Service 4.0","broker":"4c00b401-bc2f-4785-a247-46f0b6bb8fb3.eu10.cp.iot.sap/","port":"8883","tls":"a2717342.eb496","clientid":"53804F65FD76455B808CBDAB5AC0A490","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a2717342.eb496","type":"tls-config","name":"NTT Testdevice SAP PAI","cert":"certs/5380_chain.pem","key":"certs/5380_priv.pem","ca":"certs/iot_ca_cert.cer","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]